.header-navigation{
  background: $primary-second-bg-color;
  position: absolute;
  width: 1920px;
  height: 50px;
  left: 0px;
  top: 0px;
  &__link{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $info-text-color;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0;
  }
}

